<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>QuantuMoonLight</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='clean-blog.min.css') }}" rel="stylesheet">
      <link href="../static/styles/css/nav.css" rel="stylesheet">
    <link rel="icon" href="../static/images/logos/logo.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="../static/styles/css/revolution-slider.css" rel="stylesheet">
    <link href="../static/styles/css/style.css" rel="stylesheet">

  </head>
<style>
    #commentApproval{
        color: #00a8ff;
    }

    #post-heading {
        overflow-wrap: break-word;

    }
</style>

  <body>
    {% extends "base.html" %}
        {% block content %}
    <!-- Navigation -->


    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='post-bg.jpg') }}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div id="post-heading">
              <p><h1>{{ post.title }}</h1></p>
              <span class="meta"> Posted by
                <B>{{ post.author }}</B>
                on {{ post.data.strftime('%B %d, %Y') }} </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {{ post.body|safe }}
          </div>
        </div>
      </div>
    </article>



    <div class="container bootstrap snippets bootdey">
    <div class="row">
		<div class="col-md-12">
		    <div class="blog-comment">
				<h3 class="text-success">Comments</h3>
            <hr/>
				<ul class="comments">
                     {% for Comment in comments %}

                  {% if Comment.authorized or current_user.isAdmin or Comment.author == current_user.username %}
                  <li class="clearfix">
                   <div>
                     <img src="../static/images/logos/logo.ico" class="avatar" alt="Image" style="width:50px;height:50px;">
                     <B>{{ Comment.author }}</B> on {{ Comment.data.strftime('%B %d, %Y') }}:
                   </div>
                    {{ Comment.body }}
                    <div class="post-comments">
				      <!-- <p class="meta">{{ Comment.data.strftime('%B %d, %Y') }} <a href="#">{{ Comment.author }}</a> says : <i class="pull-right"><a href="#"><small>Reply</small></a></i></p> !-->


                      {% if not Comment.authorized and current_user.isAdmin %}

                      <a href="{{url_for('enableComment', comment_id=Comment.id)}}">
                        <button id="brnAppCom" type="submit" name="Approva" class="btn btn-success" >Approves</button>
                      </a>
                      <a href="{{url_for('deleteComment', comment_id=Comment.id)}}">
                            <button name="Rifiuta" type="button" class="btn btn-warning">Refuses</button>
                      </a>
                        {% endif %}

                      {% if not Comment.authorized and current_user.username == Comment.author %}
                      <h5 id ="commentApproval">Comment pending approval</h5>
                      {% endif %}
                    </div>

				  </ul>
				</li>
                        {% endif %}

                 {% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <form name="addForm" id="addForm" method="POST" action="{{ url_for('addcomment') }}" novalidate>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                 <input type="hidden" id="artId" name="artId" value={{post.id}}>
                <textarea rows="5" cols="50" class="form-control" placeholder="Write a comment" name="content" id="content" ></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="Publish Comment" class="btn btn-primary" id="sendMessageButton">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>


    <hr>


    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='clean-blog.min.js') }}"></script>
    <br><br><br>
  {% endblock %}
  </body>

</html>
