div{ /* non funziona */
    padding-left: 10px;
    padding-right: 10px;
}
#blog_title{
        font-weight: bold;
        background-image: linear-gradient(to left,darkblue, blueviolet);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

#username{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.btn {background-image: linear-gradient(to right, #000080 0%, blueviolet  51%, #4B0082  100%)}
         .btn {

            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }
          .btn:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
.post-preview
{
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border : 4px solid transparent;
    border-radius: 20px;
    background: linear-gradient(to right, white,white),
                linear-gradient(to right,darkblue,blueviolet);
    background-clip: padding-box,border-box;
    background-origin: padding-box,border-box;

}
.post-title
{
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.post-meta{
     color: black;
     text-align:right
}
.post-label{
     display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  color: #fff;
  border-radius: .25em;

}

.label-primary-art {
  background-color: darkblue;
}

.label-primary-exp {
  background-color: darkviolet;
}

.btn-like
{
     background: transparent;
     outline: none;
     border: none;
     color: grey;
}
.btn-like i:hover
{
    cursor: pointer;

}

.colonna
{
    margin-left: 20%;
    margin-right: 20%;


}

