<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuantuMoonLight</title>
    <link rel="icon" href="../static/images/logos/logo.ico">
    <link href="../static/styles/css/style.css" rel="stylesheet">
    <link href="../static/styles/css/nav.css" rel="stylesheet">
    <link href="../static/styles/css/revolution-slider.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header>
    <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-grad navbar-dark bg-dark">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="" href={{url_for("homepage")}}>
      <img src="../static/images/logos/Logo_SenzaScritta.png" height="70" alt="QML" loading="lazy" />
    </a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse nav justify-content-center" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav" style="">
        <li class="nav-item">
          <a class="nav-link" href={{url_for("homepage")}}>HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for("getStarted")}}">GET STARTED</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href={{url_for("formPage")}}>QUANTUM ML</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for("blog")}}">COMMUNITY</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
      {% if current_user.is_authenticated %}
      <label class="nav-item"><a class="nav-link" href="{{url_for("userPage")}}">Ciao, {{current_user.username}}</a></label>
      {% endif %}
  </div>
    {% if current_user.is_authenticated %}
        <a href={{url_for("userPage")}}><img src="../static/images/icons/person-circle.svg" class="user" height="50px" alt="User page"></a>

    {% else %}
        <a href={{url_for("loginPage")}}><img src="../static/images/icons/person-circle.svg" class="user" height="50px" alt="User page"></a>
    {% endif %}
  <!-- Container wrapper -->
</nav>
<!-- End Navbar -->
</header>

  {% block content %}

  {% endblock %}

  <footer class="main-footer">
  <div class="footer-upper">
                <div class="auto-container">
                    <div class="row clearfix">
                        <!--Footer Widget-->
                        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="footer-widget contact-widget">
                                <h3>Contact Us</h3>
                                <ul class="info">
                                    <li><strong>Admin</strong><br> <a href="mailto:alessio.robertazzi@gmail.com">alessio.robertazzi@gmail.com</a></li>
                                    <li><strong>General</strong><br> <a href="mailto:quantumoonlight@gmail.com">quantumoonlight@gmail.com</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--Footer Bottom-->

                        <!--Footer Widget-->
                        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <div class="footer-widget services-widget">
                                <h3>Follow us on</h3>
                                 <ul>
                                    <li><a href="https://www.instagram.com/quantumoonlight/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></li>
                                    <li><a href="https://twitter.com/quantumoonlight" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
                                    <li><a href="https://github.com/Robertales/QuantuMoonLight" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></li>
                                </ul>
                            </div>
                        </div>

                        <!--Footer Widget-->
                        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                            <div class="footer-widget support-widget">
                                <h3>Useful Links</h3>
                                <ul>
                                    <li><a href="https://www.unisa.it/" target="_blank"><i class="fa fa-university"></i> University of Salerno</a></li>
                                    <li><a href={{url_for("aboutUs")}}><i class="fa fa-info-circle"></i> About us</a></li>
                                </ul>
                            </div>
                        </div>

                        <!--Footer Widget-->
                        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <div class="footer-widget newsletter-widget">
                                <h3>Newsletter</h3>
                                <div class="text" style="-webkit-user-select: none; -moz-user-select: none; user-select:none;">Get QML News by using our newsletter</div>

                                <div class="form">
                                {% with messages = get_flashed_messages(category_filter = ["notifica"]) %}
                                         {% if messages %}
                                         {% for msg in messages %}
                                                      <p style="color:red;">{{msg}}</p>
                                                      {% endfor %}
                                                      {% endif %}
                                            {% endwith %}
                                    <form method="POST" action="{{url_for("signup_newsletter")}}">
                                        <div class="form-group">
                                            <input type="email" name="email" value="" placeholder="Enter your email address" required autocomplete="off">
                                            <button type="submit" name="submit" class="hvr-bounce-to-right"><span class="fa fa-paper-plane"></span></button>
                                        </div>
                                    </form>
                                </div>

                                 <div class="text" style="-webkit-user-select: none; -moz-user-select: none; user-select:none;">
                                    Copyright 2021 by QML | All rights reserved
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
  </footer>

    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/revolution.min.js"></script>
    <script src="../static/js/bxslider.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/jquery.fancybox.pack.js"></script>
    <script src="../static/js/wow.js"></script>
    <script src="../static/js/script.js"></script>

</body>
</html>