<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> QUASAR - Quantum Computing and Smart Systems </title>
    <!-- Stylesheets -->
    <link href="../static/styles/css/bootstrap.css" rel="stylesheet">
    <link href="../static/styles/css/revolution-slider.css" rel="stylesheet">
    <link href="../static/styles/css/style.css" rel="stylesheet">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="../static/styles/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]>
    <script src="../../static/js/respond.js"></script><![endif]-->
</head>

<body>
    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!-- Main Header -->
        <header class="main-header">
            <div class="auto-container clearfix">
                <!--Logo-->
                <div class="logo"><a href="index.html"><img width="300" src="../static/images/logoQ3.png" alt="QUASAR" title="dada"></a></div>

                <!--Main Menu-->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <!-- Toggle Button -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation">
                            <li class="current dropdown"><a href="index.html">Home</a>

                            </li>
                            <li class="dropdown"><a href="about.html">Partners</a>
                                <ul class="submenu">
                                    <li><a href="academias.html">Academias</a></li>
                                    <li><a href="companies.html">Companies</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">People</a>
                                <ul class="submenu">
                                    <li><a href="professors.html">Professors</a></li>
                                    <li><a href="assistantprofessors.html">Assistant Professors</a></li>
                                    <li><a href="phdstudents.html">PhD Students</a></li>
                                    <li><a href="alumni.html">Alumni</a></li>
                                    <li><a href="visitors.html">Visitors</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="schedule.html">Research</a>
                                <ul class="submenu">
                                    <li><a href="computationalintelligence.html">Computational Intelligence</a></li>
                                    <li><a href="quantummachineintelligence.html">Quantum Machine Intelligence</a></li>
                                    <li><a href="cognitiverobotics.html">Cognitive Robotics</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="speakers.html">Facilities</a>
                                <ul class="submenu">
                                    <li><a href="spaces.html">QUASAR Spaces</a></li>
                                    <li><a href="hpcdevices.html">HPC Devices</a></li>
                                    <li><a href="bpalaboratory.html">BPA Laboratory</a></li>
                                    <li><a href="meetingspace.html">Meeting Space</a></li>
                                    <li><a href="retromuseum.html">RetroMuseum</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="blog.html">Publications</a>
                                <ul class="submenu">
                                    <li><a href="books.html">Books</a></li>
                                    <li><a href="journals.html">International Journals Papers</a></li>
                                    <li><a href="conferences.html">International Conference Papers</a></li>
                                    <li><a href="chapters.html">Book Chapters</a></li>
                                    <li><a href="thesis.html">Doctorate Thesis</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </nav>
                <!--Main Menu End-->

            </div>
        </header>
        <!--End Main Header -->

        <!-- Main Slider -->
        <section>
          <style>
          .hpimg1 {
  /* Set a specific height */
  height: 540px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 0;
}

.hpimg1 {
  /* The image used */
  background-image: url("../static/images/preprocessing.gif");
}

.welcome {
  height: 200px;
  background-color: #fff;
  word-wrap: normal;
  word-break: keep-all;
  font-family: '';
  font-weight: 700;
  font-size: 31px;
  line-height: 1.125em;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  box-sizing: border-box;
  top: 300px;
}

.Welcome {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  top: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding-bottom: 38px;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-tap-highlight-colour: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-box-direction: normal;
}

h1:after,
h1:before {
  content: '';
  width: 50px;
  height: 2px;
  background: black;
  margin: 0 10px;
}
                  </style>
              <!-- Container element -->



          <!--<div class="parallax"> </div> -->
          <div class="hpimg1">
              <div class="Welcome">
                <h1>Welcome to <br>QUANTUM REDAMP platform</h1>
              </div>
            </div>

                  <!--
                      <p style="text-align:center;">
                          <img src="images/preprocessing.gif" alt="" title="" class="center" style="margin: 40px">
                      </p>
                    -->
                  </section>



    <!-- Container element -->


        <p id="research"> </p>
        <!--Features Section-->
        <section class="features-section">
            <div class="auto-container">
                <div class="row clearfix">
                    <!-- <div id="research" class="sec-title wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms"><h2> Conventionality in research belongs to yesterday!</h2></div>
            <div class="sec-text wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms"><p>The QUASAR Lab is part of the Department of Physics "Ettore Pancini" of University of Naples Federico II, <br> where it is committed to perform research activities in theory and applications of <br> Computational Intelligence, Quantum Machine Intelligence and Cognitive Robotics.  </p></div>
        	-->

                    <!--Upload Dataset-->
                    <div class="schedule-box clearfix col-md-5">
                        <br>
                        <form enctype="multipart/form-data" action="/formcontrol" target="_blank" method="POST">
                            <input type="hidden" name="MAX_FILE_SIZE" value="300000000000000000000">
                            <h2>Load your Dataset for Quantum Classification</h2>
                            <br>
                            <div class="form-group">
                              <div class="input-group">
                                <input type="file" id="inputFileTrain" name="userfile" style="display: none">
                                <input type="text" value="Training Set to upload" class="form-control" id="inputFakeFileTrain" readonly>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="inputFakeBrowseFileTrain">Choose File</button>
                                </span>
                              </div>
                            </div>

                            <input type="checkbox" id="checkSplitTrain" name="test" value="testDataset" checked>  Automatically Split the Training Set<br>
                            <input type="checkbox" id="checkFeatureExtraction" name="reduce" value="reduceFeatureExtraction" checked>  Reduce coloums with Feature Extraction<br>
                            <input type="checkbox" id="checkPrototypeSelection" name="reduce1" value="reduceProtypeSelection" checked> Reduce rows with Prototype Selection  <br>



                                <br>
                                <div class="form-group">
                                  <div class="input-group">
                                    <input type="file" id="inputFileTest" name="userfile1" style="display: none">
                                    <input type="text" value="Test Set to upload" class="form-control checkSplitted" id="inputFakeFileTest" readonly disabled>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default checkSplitted" type="button" id="inputFakeBrowseFileTest">Choose File</button>
                                    </span>
                                  </div>
                                </div>
                                <br>
                                <button type="submit" name="submit"  onclick="openpage()" class="theme-btn btn-style-one mainred hvr-bounce-to-right"><span class="fa fa-database"></span>Upload</button>
                            </form>

                            <script>
                            function openpage() {
                              window.open("");
                            }
                            </script>

                            <br>
                    </div>
                    <!--result form-->
                    <div class="col-md-2">
                    </div>
                    <div class="schedule-box clearfix col-md-5">
                        <br>
                        <form method="get" action='classificazione'>
                            <h2> Get your Quantum Classification Results</h2>
                            <br>
                            <div style="text-align: center;"><input class="form-control" type="email" name="email" value="" placeholder="Enter your email" required autocomplete="on"></div>
                            <br>
                            <br>
                            <div style="text-align: center;"><input class="form-control" type="token" name="token" value="" placeholder="Enter your token" required autocomplete="on"></div>
                            <div style="text-align: center;"><a href="https://quantum-computing.ibm.com/">
                                <font size=2>Create an IMBid account</font>
                            </a></div>
                            <br><br>
                            <button type="submit" name="submit" class="theme-btn btn-style-one mainred hvr-bounce-to-right"><span class="fa fa-play"></span>SEND</button>
                            <br><br>
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </section>



        <!--Main Footer-->
        <!--Main Footer-->
        <footer class="main-footer">
            <!--Footer Upper-->
            <div class="footer-upper">
                <div class="auto-container">
                    <div class="row clearfix">
                        <!--Footer Widget-->
                        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="footer-widget contact-widget">
                                <h3>Contact Us</h3>
                                <div class="text">If you would like to start a new research collaboration in the wonderful world of QUASAR topics, please contact us</div>
                                <ul class="info">
                                    <li><strong>Email</strong> <a href="mailto:info@quasar.unina.it">info@quasar.unina.it</a></li>
                                    <li><strong>Phone</strong> <a href="#">+39 081676184</a></li>
                                    <li><strong>Website</strong> <a href="http://quasar.unina.it">http://quasar.unina.it</a></li>
                                </ul>
                            </div>
                        </div>

                        <!--Footer Widget-->
                        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <div class="footer-widget services-widget">

                            </div>
                        </div>

                        <!--Footer Widget-->
                        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                            <div class="footer-widget support-widget">
                                <h3>Useful Links</h3>
                                <ul class="links">
                                    <li><a href="#">University of Naples Federico II</a></li>
                                    <li><a href="#">Dept Physics "Ettore Pancini"</a></li>
                                    <li><a href="#">PRISMA Lab</a></li>
                                    <li><a href="#">PRISCA Lab</a></li>
                                    <li><a href="#">STAD Research Group</a></li>
                                </ul>
                            </div>
                        </div>

                        <!--Footer Widget-->
                        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <div class="footer-widget newsletter-widget">
                                <h3>Newsletter</h3>
                                <div class="text">Get QUASAR News by using our newsletter.</div>

                                <div class="form">
                                    <form method="post" action="index.html">
                                        <div class="form-group">
                                            <input type="email" name="email" value="" placeholder="Enter your email address" required autocomplete="off">
                                            <button type="submit" name="submit" class="hvr-bounce-to-right"><span class="fa fa-paper-plane"></span></button>
                                        </div>
                                    </form>
                                </div>

                                <div class="social-links wow fadeInRight" data-wow-delay="1000ms" data-wow-duration="1500ms">
                                    <a href="#"><span class="fa fa-facebook-f"></span></a>
                                    <a href="#"><span class="fa fa-twitter"></span></a>
                                    <a href="#"><span class="fa fa-google"></span></a>
                                    <a href="#"><span class="fa fa-pinterest-p"></span></a>
                                    <a href="#"><span class="fa fa-instagram"></span></a>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>



            <!--Footer Lower-->
            <div class="footer-lower">
                <div class="auto-container">
                    <div class="row clearfix">

                        <!--Footer Logo-->
                        <div class="col-md-4 col-sm-4 col-xs-12 footer-logo wow bounceInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <a href="#"><img width="330" src="../../../static/images/logoQ3.png" alt=""></a>
                        </div>

                        <!--Footer Nav-->
                        <div class="col-md-8 col-sm-8 col-xs-12 footer-nav wow bounceInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Meetings</a></li>
                                <li><a href="#">Schedule</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>


            <!--Footer Bottom-->
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="row clearfix">
                        <div class="col-md-12 col-sm-12 col-xs-12 footer-logo">Copryright 2015 by Meeton | All rights reserved</div>
                    </div>
                </div>
            </div>

        </footer>

    </div>
    <!--End pagewrapper-->

    <!--Scroll to top-->
    <div class="scroll-to-top"></div>


    <script src="../../../static/js/jquery.js"></script>
    <script src="../../../static/js/bootstrap.min.js"></script>
    <script src="../../../static/js/revolution.min.js"></script>
    <script src="../../../static/js/bxslider.js"></script>
    <script src="../../../static/js/owl.carousel.min.js"></script>
    <script src="../../../static/js/jquery.fancybox.pack.js"></script>
    <script src="../../../static/js/wow.js"></script>
    <script src="../../../static/js/script.js"></script>
</body>

</html>
