<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles/css/logIn.css">
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
          <!-- Logo -->
    <div class="fadeIn first">
      <a href={{url_for("homepage")}}><img src="../static/images/logos/Logo_SenzaScritta.png" id="icon" alt="Logo"></a>
    </div>

    <!-- Registration Form -->
      <form action="/signup" method="post">
      <input type="text" id="login" class="fadeIn second" name="email" placeholder="E-mail" required>
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password" required>
      <input type="text" id="username" class="fadeIn second" name="username" placeholder="Username" required>
      <input type="text" id="nome" class="fadeIn third" name="nome" placeholder="Name">
      <input type="text" id="cognome" class="fadeIn second" name="cognome" placeholder="Surname">
      <input type="text" id="token" class="fadeIn third" name="token" placeholder="Token IBM">
      <input type="submit" class="fadeIn fourth" value="Sign In">
    </form>

    <!-- Return to Log In page -->
    <div id="formFooter">
      <a class="underlineHover" href={{url_for("loginPage")}}>Login Here</a>
      <br>
      <a class="underlineHover" href={{url_for("homepage")}}>Back to homepage</a>
    </div>

  </div>
</div>
</body>
</html>